* {
  /* padding: 0; */
  /* margin: 0; */
  /* box-sizing: border-box; */
  /* outline: 1px solid red; */

}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #182847;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color:#f1f1f1;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*  dots in navigation  */
.slick-dots {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slick-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #007bff;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .9;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(50%);
    opacity: 0;

  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    transform: translateY(300%);
    opacity: 0;

  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn3 {
  0% {
    transform: translateY(500%);
    opacity: 0;

  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInPage {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


@keyframes dotsfadeIn {
  0% {
    width: 25px;
    background-color: "gray";
    transform-origin: left;
  }

  100% {
    width: 45px;
    background-color: "black";
    transform-origin: left;
  }
}
@keyframes dotsfadeBack {
  0% {
    width: 45px;
    background-color: "black";
    transform-origin: left;
  }

  100% {
    width: 25px;
    background-color: "gray";
    transform-origin: left;
  }
}